:root {
    --colors-g-050: hsla(0, 0%, 95%, 1);
    --colors-g-100: hsla(0, 0%, 90%, 1);
    --colors-g-200: hsla(0, 0%, 80%, 1);
    --colors-g-300: hsla(0, 0%, 70%, 1);
    --colors-g-400: hsla(0, 0%, 60%, 1);
    --colors-g-500: hsla(0, 0%, 50%, 1);
    --colors-g-600: hsla(0, 0%, 40%, 1);
    --colors-g-700: hsla(0, 0%, 30%, 1);
    --colors-g-800: hsla(0, 0%, 20%, 1);
    --colors-g-900: hsla(0, 0%, 10%, 1);
    --colors-p-000: hsla(0, 0%, 100%, 1);
    --colors-p-100: hsla(193, 100%, 87%, 1);
    --colors-p-200: hsla(198, 97%, 76%, 1);
    --colors-p-500: hsla(218, 100%, 42%, 1);
    --colors-p-700: hsla(235, 100%, 31%, 1);
    --colors-p-800: hsla(225, 100%, 18%, 1);
    --colors-p-900: hsla(215, 100%, 6%, .25);
    --colors-ae-100: hsla(344, 100%, 95%, 1);
    --colors-ae-400: hsla(357, 63%, 67%, 1);
    --colors-ae-500: hsla(0, 75%, 43%, 1);
    --colors-aw-100: hsla(50, 97%, 88%, 1);
    --colors-aw-500: hsla(20, 88%, 32%, 1);
    --colors-as-100: hsla(84, 66%, 92%, 1);
    --colors-as-500: hsla(104, 96%, 26%, 1);
    --colors-promotion-500: hsla(327, 65%, 41%, 1);
    --colors-delivery-500: hsla(104, 96%, 26%, 1);
}
